body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**********************
*       HEADER        *
**********************/
.header__container {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

/* logo WebStudio */
.logo__container {
  position: absolute;

  /* center text WebStudio */
  display: flex;
  justify-content: center;
  height: 100%;
  width: 200px;
  text-align: center;
  align-items: center;
}
.logo__container .logo__link {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  left: 215px;
  /* identical to box height */
  color: #000;
  letter-spacing: 0.03em;
}

.logo__link .logo__web {
  color: #2196f3;
}

/* navigation container */

.nav__container {
  /* center links */
  position: absolute;
  left: 410px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* navigation items */
.nav__container .nav__list .nav__item {
  padding: 20px;
  display: inline;
}

.nav__item .nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

/* contact container */

.contact__container {
  /* center links */
  position: absolute;
  top: 0;
  right: 215px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.contact__container .contact__list .contact__item {
  padding: 20px;
  display: inline;
}

.contact__item .contact__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
